<!DOCTYPE html>
<html>

<head>
    <title>Financial News Powered by IBM Watson Discovery Service</title>
    <link rel='stylesheet' href='https://unpkg.com/carbon-components/css/carbon-components.min.css' />
    <link rel='stylesheet' type="text/css" href="/stylesheets/custom-style.css" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>

<body>
    <div id="header">
        <header class="banner bx--header" role="banner" aria-label="IBM Platform Name" data-header>
    
            <a class="bx--header__name" href="javascript:void(0)" 
            style="font-size: 18pt;"
            title="">
            News from the Finance World
            </a>
            <div class="bx--header__global">
            <form><button id="personalize" class="bx--header__menu-trigger bx--header__action top-right-button" 
                aria-label="Action 4" formaction="/personalize"
                title="Login to get Personalized News" data-navigation-menu-panel-label-expand="Action 4"
                data-navigation-menu-panel-label-collapse="Close menu" data-product-switcher-target="#switcher-bqavcareoq">
                Personalized News
            </button></form>
        </div>
        </header>
    </div>

    <div class="custom-container" id="newstiles">

    </div>
</body>

<script src="https://unpkg.com/carbon-components/scripts/carbon-components.min.js"></script>
<script src="/javascripts/newsParser.js" type="text/javascript"></script>


</html>