DISCOVERY_IAM_URL=https://iam.bluemix.net/identity/token
DISCOVERY_IAM_APIKEY=<Discovery Service IAM API Key>
DISCOVERY_URL=<Discovery service URL>
ENVIRONMENT_ID=system
COLLECTION_ID=news-en
DISCOVERY_API_VERSION=2019-02-28
USER_MGMT_SERVICE_URL=<User management service url>/user-preferences
